<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <EnableDamage>啟用傷害</EnableDamage>
  <EnablePlayerDamage>啟用玩家傷害</EnablePlayerDamage>
  <EnableRandomMentalStates>啟用隨機精神狀態</EnableRandomMentalStates>
  <EnableStoryteller>啟用故事敘述者</EnableStoryteller>
  <EnableRandomDiseases>啟用隨機疾病</EnableRandomDiseases>
  <EnableTranslationWindowInEnglish>以英文啟用翻譯視窗</EnableTranslationWindowInEnglish>
  <GodMode>上帝模式</GodMode>
  <DevPalette>開發者調色盤</DevPalette>
  <PauseOnError>遇到錯誤時暫停</PauseOnError>
  <NoAnimals>無動物</NoAnimals>
  <UnlimitedPower>無限電力</UnlimitedPower>
  <PathThroughWalls>可穿牆尋路</PathThroughWalls>
  <InstantRecruit>即時招募</InstantRecruit>
  <AlwaysSocialFight>總是社交打架</AlwaysSocialFight>
  <AlwaysDoLovin>總是進行親密行為</AlwaysDoLovin>
  <DetectRegionListersBugs>偵測 RegionListers 錯誤</DetectRegionListersBugs>
  <InstantVisitorsGift>訪客禮物立即生效</InstantVisitorsGift>
  <LowFPS>低 FPS</LowFPS>
  <AllowUndraftedMechOrders>允許未征召的機械族指令</AllowUndraftedMechOrders>
  <EditableGlowerColors>無需研究即可編輯發光體顏色</EditableGlowerColors>
  <ShowHiddenPawns>顯示隱藏的角色</ShowHiddenPawns>
  <ShowHiddenInfo>顯示隱藏資訊</ShowHiddenInfo>
  <AnomalyDarkeningFX>異象變暗特效</AnomalyDarkeningFX>
  <FastResearch>快速研究</FastResearch>
  <FastLearning>快速學習</FastLearning>
  <FastEcology>快速生態</FastEcology>
  <FastEcologyRegrowRateOnly>快速生態（僅再生速率）</FastEcologyRegrowRateOnly>
  <FastCrafting>快速製作</FastCrafting>
  <FastCaravans>快速商隊</FastCaravans>
  <FastMapUnpollution>快速地圖去汙染</FastMapUnpollution>
  <ActivateAllBuildingDemands>啟用所有建築需求</ActivateAllBuildingDemands>
  <ActivateAllIdeoRoles>啟用所有理念職務</ActivateAllIdeoRoles>
  <ShowLocomotionUrgency>顯示移動緊急度</ShowLocomotionUrgency>
  <PlayRitualAmbience>播放儀式環境音</PlayRitualAmbience>
  <SimulateUsingSteamDeck>模擬使用 Steam Deck</SimulateUsingSteamDeck>
  <LogRaidInfo>記錄襲擊資訊</LogRaidInfo>
  <LogTranslationLookupErrors>記錄翻譯查詢錯誤</LogTranslationLookupErrors>
  <LogPsychicRitualTransitions>記錄靈能儀式轉換</LogPsychicRitualTransitions>
  <FastMonolithRespawn>方尖碑快速重生</FastMonolithRespawn>
  <SearchIgnoresRestrictions>搜尋忽略限制</SearchIgnoresRestrictions>
  <AlwaysRareCatches>釣魚總是稀有魚獲</AlwaysRareCatches>
  <AlwaysNegativeCatches>釣魚總是負面結果</AlwaysNegativeCatches>
  <LogMismatchedLayoutFactions>記錄版面不相符的派系</LogMismatchedLayoutFactions>
  <LoopGravshipCutscene>循環播放重力船過場</LoopGravshipCutscene>
  <SkipGravshipTileSelection>跳過重力船目的地格選擇</SkipGravshipTileSelection>
  <IgnoreGravshipRange>忽略重力船航程限制</IgnoreGravshipRange>
  <DrawFog>繪製迷霧</DrawFog>
  <DrawSnow>繪製雪</DrawSnow>
  <DrawSand>繪製沙</DrawSand>
  <DrawTerrain>繪製地形</DrawTerrain>
  <DrawTerrainWater>繪製水域</DrawTerrainWater>
  <DrawThingsDynamic>繪製動態物件</DrawThingsDynamic>
  <DrawThingsPrinted>繪製印製物件</DrawThingsPrinted>
  <DrawShadows>繪製陰影</DrawShadows>
  <DrawLightingOverlay>繪製照明覆蓋層</DrawLightingOverlay>
  <DrawWorldOverlays>繪製世界覆蓋層</DrawWorldOverlays>
  <DrawGas>繪製氣體</DrawGas>
  <SingleThreadedDrawing>單執行緒繪製</SingleThreadedDrawing>
  <DrawWorldObjects>繪製世界物件</DrawWorldObjects>
  <DrawPaths>繪製路徑</DrawPaths>
  <DrawPatherState>繪製尋路狀態</DrawPatherState>
  <DrawCastPositionSearch>繪製施放位置搜尋</DrawCastPositionSearch>
  <DrawDestSearch>繪製目的地搜尋</DrawDestSearch>
  <DrawStyleSearch>繪製風格搜尋</DrawStyleSearch>
  <DrawSectionEdges>繪製區段邊界</DrawSectionEdges>
  <DrawRiverDebug>繪製河流除錯</DrawRiverDebug>
  <DrawRiverFlowDebug>繪製河流流向除錯</DrawRiverFlowDebug>
  <DrawPawnDebug>繪製角色除錯</DrawPawnDebug>
  <DrawPawnRotatorTarget>繪製角色旋轉目標</DrawPawnRotatorTarget>
  <DrawRegions>繪製區域</DrawRegions>
  <DrawRegionLinks>繪製區域連結</DrawRegionLinks>
  <DrawRegionDirties>標示區域更新</DrawRegionDirties>
  <DrawRegionTraversal>標示區域遍歷</DrawRegionTraversal>
  <DrawRegionThings>標示區域內物件</DrawRegionThings>
  <DrawDistricts>繪製分區</DrawDistricts>
  <DrawRooms>繪製房間</DrawRooms>
  <DrawPower>繪製電力</DrawPower>
  <DrawPowerNetGrid>繪製電網格線</DrawPowerNetGrid>
  <DrawOpportunisticJobs>繪製即興工作</DrawOpportunisticJobs>
  <DrawTooltipEdges>繪製提示框邊緣</DrawTooltipEdges>
  <DrawRecordedNoise>繪製記錄的噪音</DrawRecordedNoise>
  <DrawFoodSearchFromMouse>從滑鼠位置繪製食物搜尋</DrawFoodSearchFromMouse>
  <DrawPreyInfo>繪製獵物資訊</DrawPreyInfo>
  <DrawGlow>繪製光暈</DrawGlow>
  <DrawAvoidGrid>繪製避開格</DrawAvoidGrid>
  <DrawBreachingGrid>繪製破牆格</DrawBreachingGrid>
  <DrawBreachingNoise>繪製破牆噪音</DrawBreachingNoise>
  <DrawLords>繪製領主</DrawLords>
  <DrawDuties>繪製職責</DrawDuties>
  <DrawShooting>繪製射擊</DrawShooting>
  <DrawInfestationChance>繪製蟲害機率</DrawInfestationChance>
  <DrawFleshmassHeartChance>繪製血肉團心臟機率</DrawFleshmassHeartChance>
  <DrawStealDebug>繪製偷竊除錯</DrawStealDebug>
  <DrawDeepResources>繪製深層資源</DrawDeepResources>
  <DrawAttackTargetScores>繪製攻擊目標分數</DrawAttackTargetScores>
  <DrawFOVSymmetry>繪製視野</DrawFOVSymmetry>
  <DrawNonCombatantTimer>繪製非戰鬥員計時器</DrawNonCombatantTimer>
  <DrawInteractionCells>繪製互動格</DrawInteractionCells>
  <DrawDoorsDebug>繪製門除錯</DrawDoorsDebug>
  <DrawDestReservations>繪製目的地預約</DrawDestReservations>
  <DrawDamageRects>繪製傷害矩形</DrawDamageRects>
  <!-- Unused -->
  <DrawDissolutionCells>繪製溶解格</DrawDissolutionCells>
  <!-- Unused -->
  <DrawUnpollutionCells>繪製去汙染格</DrawUnpollutionCells>
  <DrawHateChanterPositions>繪製仇恨吟唱者位置</DrawHateChanterPositions>
  <DrawDarknessOverlay>繪製黑暗覆蓋層</DrawDarknessOverlay>
  <DrawWoundAnchorsOnHover>懸停時繪製傷口錨點</DrawWoundAnchorsOnHover>
  <DrawMapGraphs>繪製地圖圖表</DrawMapGraphs>
  <DrawMapRooms>繪製地圖房間</DrawMapRooms>
  <DrawIndoorMask>繪製室內遮罩</DrawIndoorMask>
  <DrawOutdoorMask>繪製室外遮罩</DrawOutdoorMask>
  <DrawShamblerAlertMote>繪製行屍警示粒子</DrawShamblerAlertMote>
  <DrawWaterBodies>繪製水域</DrawWaterBodies>
  <DrawMeltingIce>繪製融冰</DrawMeltingIce>
  <DrawUsedRects>繪製已使用矩形</DrawUsedRects>
  <DrawRoadPaths>繪製道路路徑</DrawRoadPaths>
  <DrawGravshipMask>繪製重力船遮罩</DrawGravshipMask>
  <DrawTerrainCurtain>繪製地形幕簾</DrawTerrainCurtain>
  <WriteGame>檢視遊戲</WriteGame>
  <WriteSteamItems>檢視 Steam 物品</WriteSteamItems>
  <WriteConcepts>檢視概念</WriteConcepts>
  <WriteReservations>檢視預約</WriteReservations>
  <WritePathCosts>檢視路徑成本</WritePathCosts>
  <WriteFertility>檢視肥沃度</WriteFertility>
  <WriteLinkFlags>檢視 LinkFlags</WriteLinkFlags>
  <WriteCover>檢視掩體</WriteCover>
  <WriteCellContents>檢視格內容</WriteCellContents>
  <WriteMusicManagerPlay>檢視 MusicManager 播放</WriteMusicManagerPlay>
  <WriteStoryteller>檢視故事敘述者</WriteStoryteller>
  <WritePlayingSounds>檢視正在播放的音效</WritePlayingSounds>
  <WriteSoundEventsRecord>檢視音效事件記錄</WriteSoundEventsRecord>
  <WriteMoteSaturation>檢視粒子飽和度</WriteMoteSaturation>
  <WriteSnowDepth>檢視積雪深度</WriteSnowDepth>
  <WriteSandDepth>檢視沙深度</WriteSandDepth>
  <WriteEcosystem>檢視生態系</WriteEcosystem>
  <WriteRecentStrikes>檢視近期閃電</WriteRecentStrikes>
  <WriteBeauty>檢視美觀度</WriteBeauty>
  <WriteListRepairableBldgs>檢視可修理建築清單</WriteListRepairableBldgs>
  <WriteListFilthInHomeArea>檢視居家區域污物清單</WriteListFilthInHomeArea>
  <WriteListHaulables>檢視可搬運物清單</WriteListHaulables>
  <WriteListMergeables>檢視可合併物清單</WriteListMergeables>
  <WriteTotalSnowDepth>檢視總積雪深度</WriteTotalSnowDepth>
  <WriteCanReachColony>檢視殖民地可達性</WriteCanReachColony>
  <WriteMentalStateCalcs>檢視精神狀態計算</WriteMentalStateCalcs>
  <WriteWind>檢視風</WriteWind>
  <WriteTerrain>檢視地形</WriteTerrain>
  <WriteApparelScore>檢視衣著分數</WriteApparelScore>
  <WriteWorkSettings>檢視工作設定</WriteWorkSettings>
  <WriteSkyManager>檢視天空管理器</WriteSkyManager>
  <WriteMemoryUsage>檢視記憶體用量</WriteMemoryUsage>
  <WriteMapGameConditions>檢視地圖的遊戲狀態</WriteMapGameConditions>
  <WriteAttackTargets>檢視攻擊目標</WriteAttackTargets>
  <WriteRopesAndPens>檢視繩索與圍欄</WriteRopesAndPens>
  <WriteRoomRoles>檢視房間角色</WriteRoomRoles>
  <LogIncapChance>記錄失能機率（未使用）</LogIncapChance>
  <LogInput>記錄輸入</LogInput>
  <LogApparelGeneration>記錄衣著生成</LogApparelGeneration>
  <LogLordToilTransitions>記錄領主作業步驟轉換</LogLordToilTransitions>
  <LogGrammarResolution>記錄文法解析</LogGrammarResolution>
  <LogCombatLogMouseover>記錄戰鬥日誌滑鼠提示</LogCombatLogMouseover>
  <LogCauseOfDeath>記錄死因</LogCauseOfDeath>
  <LogMapLoad>記錄地圖載入</LogMapLoad>
  <LogTutor>記錄教學</LogTutor>
  <LogSignals>記錄訊號</LogSignals>
  <LogWorldPawnGC>記錄世界角色垃圾回收</LogWorldPawnGC>
  <LogTaleRecording>記錄故事記錄</LogTaleRecording>
  <LogHourlyScreenshot>記錄每小時截圖</LogHourlyScreenshot>
  <LogFilthSummary>記錄污物摘要</LogFilthSummary>
  <LogCarriedBetweenJobs>記錄工作間攜帶物</LogCarriedBetweenJobs>
  <LogComplexGenPoints>記錄複合體生成點數</LogComplexGenPoints>
  <SaveGravshipRenders>儲存重力船渲染</SaveGravshipRenders>
  <DebugApparelOptimize>衣著最佳化除錯</DebugApparelOptimize>
  <DisableGravshipRenderShader>停用重力船渲染著色器</DisableGravshipRenderShader>
  <ShowAllRoomStats>顯示所有房間數值</ShowAllRoomStats>
  <ShowFloatMenuWorkGivers>顯示浮動選單工作指派器</ShowFloatMenuWorkGivers>
  <NeverForceNormalSpeed>永不強制正常速度</NeverForceNormalSpeed>
  <ShowArchitectMenuOrder>顯示建築選單按鈕順序</ShowArchitectMenuOrder>
  <ShowTpsCounter>顯示 TPS</ShowTpsCounter>
  <ShowFpsCounter>顯示 FPS</ShowFpsCounter>
  <ShowMemoryInfo>顯示記憶體用量</ShowMemoryInfo>
  <PrefabCopyTerrain>預製件複製地形</PrefabCopyTerrain>
  <PrefabCopyAllThings>預製件複製所有物件</PrefabCopyAllThings>
</LanguageData>
